.secondPage {
  height: 100vh;
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}

.firstDiv {
  height: 20%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  background-color: black;
}

.firstDivHeadingOne {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: aliceblue;
}

.firstDivHeadingTwo {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: aliceblue;
}

.secondDiv {
  width: 100%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5%;
}

.secondDivContent {
  height: 44%;
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background-color: #171f38;
  border-radius: 7%;
}

.imgOne {
  height: 110px;
  width: 120px;
  border-radius: 20px;
  margin: 13px 0;
  background-color: black;
  padding: 10px;
}

.secondDivContentHeadingOne {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  color: aliceblue;
}

.secondDivContentHeadingTwo {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: aliceblue;
}

/* For small screens (up to 320px) */
@media (max-width: 320px) {
  .firstDivHeadingOne {
    font-size: 17px;
    font-weight: 600;
  }

  .firstDivHeadingTwo {
    font-size: 12px;
    font-weight: 500;
  }
  .imgOne {
    height: 60px;
    width: 60px;
    padding: 6px;
    margin: 6px 0;
  }

  .secondDivContentHeadingOne {
    font-size: 14px;
    font-weight: 700;
  }

  .secondDivContentHeadingTwo {
    font-size: 10px;
    font-weight: 600;
  }
}

/* For small screens (up to 375px) */
@media (min-width: 321px) and (max-width: 375px) {
  .firstDivHeadingOne {
    font-size: 17px;
    font-weight: 600;
  }

  .firstDivHeadingTwo {
    font-size: 12px;
    font-weight: 500;
  }

  .imgOne {
    height: 70px;
    width: 70px;
    padding: 7px;
    margin: 7px 0;
  }

  .secondDivContentHeadingOne {
    font-size: 16px;
    font-weight: 700;
  }

  .secondDivContentHeadingTwo {
    font-size: 12px;
    font-weight: 600;
  }
}

/* For small screens (up to 600px) */
@media (min-width: 376px) and (max-width: 600px) {
  .firstDivHeadingOne {
    font-size: 17px;
    font-weight: 600;
  }

  .firstDivHeadingTwo {
    font-size: 12px;
    font-weight: 500;
  }

  .imgOne {
    height: 70px;
    width: 70px;
    padding: 7px;
    margin: 7px 0;
  }

  .secondDivContentHeadingOne {
    font-size: 16px;
    font-weight: 700;
  }

  .secondDivContentHeadingTwo {
    font-size: 12px;
    font-weight: 600;
  }
}

/* For medium screens (601px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  .firstDivHeadingOne {
    font-size: 20px;
    font-weight: 600;
  }

  .firstDivHeadingTwo {
    font-size: 14px;
    font-weight: 500;
  }

  .imgOne {
    height: 90px;
    width: 90px;
    padding: 12px;
    margin: 7px 0;
  }

  .secondDivContentHeadingOne {
    font-size: 20px;
    font-weight: 700;
  }

  .secondDivContentHeadingTwo {
    font-size: 15px;
    font-weight: 600;
  }
}

/* For large screens (901px to 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {
  .firstDivHeadingOne {
    font-size: 30px;
    font-weight: 600;
  }

  .firstDivHeadingTwo {
    font-size: 18px;
    font-weight: 500;
  }

  .imgOne {
    height: 100px;
    width: 100px;
    padding: 12px;
    margin: 5px 0;
  }

  .secondDivContentHeadingOne {
    font-size: 20px;
    font-weight: 700;
  }

  .secondDivContentHeadingTwo {
    font-size: 13px;
    font-weight: 600;
  }
}

/* For extra large screens (1201px and above) */
@media (min-width: 1201px) and (max-width: 2559px) {
  .firstDivHeadingOne {
    font-size: 30px;
    font-weight: 600;
  }

  .firstDivHeadingTwo {
    font-size: 20px;
    font-weight: 500;
  }

  .imgOne {
    height: 100px;
    width: 100px;
    padding: 12px;
    margin: 5px 0;
  }

  .secondDivContentHeadingOne {
    font-size: 25px;
    font-weight: 700;
  }

  .secondDivContentHeadingTwo {
    font-size: 20px;
    font-weight: 600;
  }
}

/* For very large screens (2560px and above) */
@media (min-width: 2560px) {
  .firstDivHeadingOne {
    font-size: 50px;
    font-weight: 600;
  }

  .firstDivHeadingTwo {
    font-size: 40px;
    font-weight: 500;
  }

  .imgOne {
    height: 250px;
    width: 250px;
    padding: 25px;
  }

  .secondDivContentHeadingOne {
    font-size: 45px;
    font-weight: 700;
  }

  .secondDivContentHeadingTwo {
    font-size: 36px;
    font-weight: 600;
  }
}
